### Load Data

In [1]:
import pandas as pd

df = pd.read_csv('../data/wallstreetbets_2022.csv')
df.head()

/var/folders/jc/pcj1xc555l99w6f60p_8r47m0000gn/T/ipykernel_78588/3989430895.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/wallstreetbets_2022.csv')

,title,score,id,url,comms_num,created,body,timestamp
0,Wash sale,0,txhzpp,https://www.reddit.com/r/wallstreetbets/commen...,8.0,1.649236e+09,Hi guys I bought uvxy beginning of the year in...,2022-04-06 09:14:16
1,Comment,1,i3lsqo4,NaN,0.0,1.649238e+09,Yes December 30 I sold it,2022-04-06 09:32:46
2,Comment,1,i3lrk43,NaN,0.0,1.649237e+09,![img](emote|t5_2th52|4260) Just need help,2022-04-06 09:15:56
3,Comment,1,i3lmzkh,NaN,0.0,1.649233e+09,??? Alright bro.,2022-04-06 08:10:16
4,Comment,1,i3lmz13,NaN,0.0,1.649233e+09,Elon is with more than some of the S&P 500 com...,2022-04-06 08:10:03

In [4]:
df = df[['timestamp', 'body']].dropna()
df.head()

             timestamp                                               body
0  2022-04-06 09:14:16  Hi guys I bought uvxy beginning of the year in...
1  2022-04-06 09:32:46                          Yes December 30 I sold it
2  2022-04-06 09:15:56         ![img](emote|t5_2th52|4260) Just need help
3  2022-04-06 08:10:16                                   ??? Alright bro.
4  2022-04-06 08:10:03  Elon is with more than some of the S&P 500 com...

In [5]:
df.shape

(1053365, 2)

In [10]:
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['date'] = df['timestamp'].dt.date
df

,timestamp,body,date
0,2022-04-06 09:14:16,Hi guys I bought uvxy beginning of the year in...,2022-04-06
1,2022-04-06 09:32:46,Yes December 30 I sold it,2022-04-06
2,2022-04-06 09:15:56,![img](emote|t5_2th52|4260) Just need help,2022-04-06
3,2022-04-06 08:10:16,??? Alright bro.,2022-04-06
4,2022-04-06 08:10:03,Elon is with more than some of the S&P 500 com...,2022-04-06
...,...,...,...
1099200,2025-03-27 20:13:03,Made $2800 today selling NDX call spreads. Wou...,2025-03-27
1099201,2025-03-27 20:13:03,buy houses in China,2025-03-27
1099202,2025-03-27 20:13:02,2009 was the bottom of the market. not years.,2025-03-27
1099203,2025-03-27 20:13:01,What happened to APP last hour?,2025-03-27
1099204,2025-03-27 20:13:00,Bought a few roulette tickets for tomorrow's S...,2025-03-27

### Analyze Sentiments

In [11]:
from textblob import TextBlob

def get_polarity(text):
    return TextBlob(str(text)).sentiment.polarity

df['sentiment'] = df['body'].apply(get_polarity)
df.head()

,timestamp,body,date,sentiment
0,2022-04-06 09:14:16,Hi guys I bought uvxy beginning of the year in...,2022-04-06,0.1
1,2022-04-06 09:32:46,Yes December 30 I sold it,2022-04-06,0.0
2,2022-04-06 09:15:56,![img](emote|t5_2th52|4260) Just need help,2022-04-06,0.0
3,2022-04-06 08:10:16,??? Alright bro.,2022-04-06,0.0
4,2022-04-06 08:10:03,Elon is with more than some of the S&P 500 com...,2022-04-06,0.5

In [12]:
daily = df.groupby('date')['sentiment'].mean().reset_index()
daily

            date  sentiment
0     2021-01-27   0.068182
1     2022-03-27   0.104028
2     2022-03-28   0.096135
3     2022-03-29   0.064216
4     2022-03-30   0.120320
...          ...        ...
1093  2025-03-23   0.047805
1094  2025-03-24   0.041450
1095  2025-03-25   0.047959
1096  2025-03-26   0.048819
1097  2025-03-27   0.039721

[1098 rows x 2 columns]

### Save the result

In [14]:
daily.to_csv('../data/wsb_daily_sentiment.csv', index=False)