### Read in Data

In [1]:
import pandas as pd

sp = pd.read_csv('../data/sp500_raw.csv')
sp.head()

         date    close
0  2015-11-16  2053.19
1  2015-11-17  2050.44
2  2015-11-18  2083.58
3  2015-11-19  2081.24
4  2015-11-20  2089.17

In [2]:
sp.columns

Index(['date', 'close'], dtype='object')

### Process and Clean Data

In [7]:
sp['date'] = pd.to_datetime(sp['date'])

sp = sp.sort_values('date')

sp.head()

        date    close
0 2015-11-16  2053.19
1 2015-11-17  2050.44
2 2015-11-18  2083.58
3 2015-11-19  2081.24
4 2015-11-20  2089.17

In [4]:
sp = sp.dropna(subset=['date', 'close'])
sp.head(), len(sp)

(        date    close
 0 2015-11-16  2053.19
 1 2015-11-17  2050.44
 2 2015-11-18  2083.58
 3 2015-11-19  2081.24
 4 2015-11-20  2089.17,
 2515)

### Save the Result

In [5]:
sp.to_csv('../data/sp500_clean.csv', index=False)